body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
header{
    width:100vw;
    margin-top:10px;
    display:inline-block;
    background-color: white;
    padding-inline:80px;
}
.item1{
    color:#4F4F4F !important;
    font-size:18px !important;
    line-height:35px !important;
}
.item2{
    color:#4F4F4F !important;
    font-size:18px !important;
    line-height:35px !important;
}
.item3{
    color:#4F4F4F !important;
    font-size:18px !important;
    line-height:35px !important;
}
.item4{
    color:#4F4F4F !important;
    font-size:18px !important;
    line-height:35px !important;
}

.nav{
    display:flex;
    justify-content: space-between;
    display:inline-block;
}
.navbar-items{
    display: flex;
    justify-content: space-between;
}
.vertical-line{
    border-left: 2px solid grey;
    height:35px;
    padding-inline:8px;
}
.btn{
    color: #2F80ED;
    border: 2px solid #2F80ED;
    border-radius: 6px;
    width:90px;
    height:50px; 
}

.hero-section{
    background-color: #2F80ED;
    color:#FFFFFF;
    text-align: center;
    line-height:30px;
    font-size:14px;
}

.course-section{
    background-color: #FFFFFF; 
    display:flex;
    justify-content: space-between;  
    padding-inline:120px; 
    padding-top:50px;
}
.line1{
    width: 638px;
    height: 65px;    
    font-size: 50px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: -0.015em;
    text-align: left;
    margin-bottom:20px;   
}
.line2{
    font-family: ABeeZee;
    width: 674px;
    height: 65px;   
    font-size: 55px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: -0.015em;
    text-align: left; 
    margin-bottom:20px;   
}
.blue{
    color: #2F80ED;
    -webkit-text-stroke: 1px black;
}
.black{
    color:black;
}
.line3{
    color: #595959;
    width: 492px;
    height: 46px;
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom:20px;    
}
.course2{
    display:flex;
    justify-content: space-around;
    width: 711px;
    height: 77px;
    padding: 15px, 20px, 15px, 20px;
    border-radius: 8px;
    border: 1px;
    gap: 20px;
    margin-bottom:20px;
    padding-top:10px;
    border-radius:10px; 
    box-shadow: 0px 2px 40px 0px #0000001F; 
    line-height:20px;     
}
.line4>p{
    width: 90px;
    height: 19px;    
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #4F4F4F;
    margin-bottom:20px;    
}
.line5>p{
    width: 105px;
    height: 19px;    
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #4F4F4F;
    margin-bottom: 20px;    
}
.line6>p{
    width: 90px;
    height: 19px;    
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #4F4F4F;
    margin-bottom: 20px;    
}
.line7>p{
    width: 90px;
    height: 19px;    
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #4F4F4F;
    margin-bottom: 50px;    
}
.line8{
    width: 240px;
    height: 30px;
    color: #525252;   
    font-size: 12px;
    font-weight: 400px;
    line-height: 25px;
    letter-spacing: 0em;
    text-align:center;
    border-radius:23px;
    padding-top:2px; 
    box-shadow: 0px 2px 40px 0px #0000001F;
    margin-bottom:10px;
    margin-top:60px;   
}
.arrow{
    width: 140px;
    height: 102px;
    top: 407px;
    left: 740px;
    border: 3.36px;
    padding-top:190px;
    border-image-source: linear-gradient(276.97deg, #992FED 0%, #2F80ED 100%);     
}

.course3{
    width:415px;
    height: 451px;
    padding: 28px, 24px, 32px, 24px;
    border-radius: 18px;
    gap: 28px;
    padding-inline:15px;
    padding-top:20px;
    background-color: #FFFFFF;
    box-shadow: 0px 29px 59px 0px #0000001F;    
}
.course{
    width: 415px;
    height: 496px;
    padding: 28px, 24px, 32px, 24px;
    border-radius: 18px;
    gap: 28px;
    background-color: #FFFFFF;
    box-shadow: 0px 25px 54px 0px #0000001F;

}
.line9>h5{
    font-family: ABeeZee;
    font-size: 32px;
    font-weight: 400px;
    line-height: 48px;
    letter-spacing: -0.015em;
    text-align: center;
    color: #2B2F34;       
}
.line9>p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #818D9D;    
}
.line10{
    width: 366px;
    height: 52px;
    padding: 14px, 6px, 14px, 10px;
    border-radius: 8px;
    gap: 10px;
    background-color: #FAFAFA; 
    margin-bottom:10px; 
    padding-top:10px; 
    padding-left:10px;   
}
.line10>p{
    padding:2px;
}
.line10>i{
    color:#818D9D; 
}
.line11{
    width: 366px;
    height: 52px;
    padding: 14px, 6px, 14px, 10px;
    border-radius: 8px;
    gap: 10px;
    background-color: #FAFAFA;    
    border:none;
    padding-top:10px; 
    padding-bottom:20px;
    padding-left:10px; 
}
.line11>p{
    color:#818D9D;
}
button{
    width:365px;
    height: 50px;
    padding:14px, 6px, 14px, 16px;
    color: #FFFFFF;
    background: linear-gradient(276.97deg, #992FED 0%, #2F80ED 100%);   
}
.line13{
    padding-top:20px;
    text-align: center;
}
.line13>p{
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color:#818D9D;

}
.line13>span{ 
    font-family: Inter;
    font-size: 16px;
    font-weight: 500px;
    line-height: 15px;
    letter-spacing: 0em;
    padding-inline:60px;
    text-align: center;
    color:#2F80ED;  
}


#courses{
    margin-top: 100px;
    background-color: rgba(236, 248, 255, 1);
    width: 100vw;
    height: 800px;
    padding-top:40px;
    padding-bottom:40px;
}
#course-header > p{
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-align: center;
    color: #2F80ED;
}
#course-header > h1{
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: -0.015em;
    text-align: center;
    color: rgba(47, 128, 237, 1);
}
#courses #sapling-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}
#courses .sapling-card{
    width: 498px;
    height: 563px;
    border-radius: 9px;
    border: 2px solid #2F80ED;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    text-align: center;
}
.sapling-card .features .featured-item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sapling-card .features{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-overview{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#ideal-header{
    width: 230px;
    height: 29px;
    margin: -15px 0 0 134px;
    padding: 6px 15px 6px 15px;
    border-radius: 7px;
    background: linear-gradient(0deg, #2F80ED, #2F80ED),linear-gradient(0deg, #2F80ED, #2F80ED);
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    line-height: 29px;
}
.course-overview p{
    width: auto;
    height: 26px;
    padding: 6px 15px 6px 15px;
    border-radius: 7px;
    background: #E0F3FF;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    color: #1D78B0;
    text-align: center;
}
.features{
    border-bottom: 1px solid #00000033;
}
.buttons-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.buttons-container button{
    width: 203px;
    height: 55px;
    padding: 14px, 6px, 14px, 6px;
    border-radius: 8px;
    border: 1px solid #2F80ED;
}
.buttons-container .button1{
    background: #FFFFFF;
    color: #2F80ED;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.buttons-container .button2{
    background: #2F80ED;
    color: #FFFFFF;
}
.features-container{
    margin: 30px;
}
#sapling-card2{
    margin-top: 24px;
}
#sap-card2 p{
    background: #FFEED8;
    color: #965400;
}

#hiring-partners{
    margin-top:100px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
#content{
    text-align: center; 
    line-height: 63px;  
    width:641px;
    height:182px;
    top: 96px;
    left: 399.5px;
    gap: 6px;
}
#content>h6{
    background: -webkit-linear-gradient(276.97deg, #992FED 0%, #2F80ED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.08em;
    text-align: center;
}
#content>h2{
    font-style: italic;
    font-family: 'ABeeZee', sans-serif;
}
#partners{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    width:1300px;
    height:306px;
    top: 323px;
    left: 108px;
    gap: 48px;
}
#partners>img{
    width:168.69px;
    height: 70px;
    padding: 10px;
    gap: 10px;
}
#hiring-partners>button{
    width:276px;
    height: 55px;
    top: 670px;
    left: 582px;
    padding: 14px, 6px, 14px, 16px;
    border-radius: 8px;
    gap: 2px;
    background-color: rgba(47, 128, 237, 1);
    color: white;
    font-size: 18px;
    font-size: italic;
    margin-bottom: 50px;
    margin-top:20px;
    font-style: italic;
    font-family: 'ABeeZee', sans-serif;
}


#success-stories{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;
    width:100vw;
    height:800px;
    top: 96px;
    left: 107px;
    gap: 50px;
}
#stories-head>h1{
    text-align: center;
    font-size: italic;
    font-family: 'ABeeZee', sans-serif;
}
#students{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center ;
    gap: 15px; 
    width: 1230px;
    height: 610px;
}
#student1{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 390px;
    height: 250px;
    padding-top: 24px;
    border-radius: 10px;
    border: 2px; 
    border: 2px solid rgba(215, 215, 215, 1);
    box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);
}
#details1,#details2,#details3,#details4,#details5,#details6{
    display:flex;
    align-items:center ;
    justify-content: space-between;
    gap:20px;
}
#student2{
    width: 390px;
    height:350px;
    left: 413px;
    padding: 24px;
    border-radius: 10px;
    border: 2px;
    border: 2px solid rgba(215, 215, 215, 1);
    box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);
}
#student3,#student4{
    width: 390px;
    height:310px;
    top: 281px;
    padding: 24px;
    border-radius: 10px;
    border: 2px;
    border: 2px solid rgba(215, 215, 215, 1);
    box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);

}
#student5{
    width: 390px;
    height:220px;
    top: 377px;
    left: 413px;
    padding: 24px;
    border-radius: 10px;
    border: 2px;
    border: 2px solid rgba(215, 215, 215, 1);
    box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);
}
#student6{
    width:390px;
    height:255px;
    top: 310px;
    left: 828px;
    padding: 24px;
    padding-top:15px;
    border-radius: 10px;
    border: 2px;
    border: 2px solid rgba(215, 215, 215, 1);
    box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);
}